:root {
  --bg-color: #0f0f0f;
  --text-color: #ffffff;
  --card-bg: #1a1a1a;
  --btn-bg: #ff0000;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #202020;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

h1 {
  font-size: 1.3em;
  margin: 0;
}

.header-btns {
  display: flex;
  gap: 10px;
}

#themeToggle,
#favToggle {
  background: none;
  color: var(--text-color);
  border: none;
  font-size: 1.3em;
  cursor: pointer;
}

.container {
  padding: 15px;
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  width: 70%;
  max-width: 350px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: var(--btn-bg);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

#videoContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.video-box {
  width: 90%;
  max-width: 480px;
  background: var(--card-bg);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  transition: 0.3s;
}

iframe {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.video-title {
  margin-top: 8px;
  font-size: 0.95em;
  color: #ddd;
  text-align: left;
}

.channel-name {
  font-size: 0.85em;
  color: #66aaff;
  text-align: left;
  cursor: pointer;
  margin-top: 4px;
}

.channel-name:hover {
  text-decoration: underline;
}

.video-actions {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.video-actions button {
  flex: 1;
  margin: 0 5px;
  padding: 6px 0;
  font-size: 0.85em;
}

.fullscreen-btn {
  background: #ff0000;
}

.favorite-btn {
  background: #ff0077;
}

#backBtn {
  background-color: #444;
  margin-top: 20px;
  border-radius: 8px;
}

/* MODE TERANG */
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f2f2f2;
  --btn-bg: #007bff;
  }
